@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var (--foreground-rgb));
  padding: 1rem;
}

input::placeholder {
  padding-left: 10px;
}

input {
  margin: 10px;
}

.color-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid white; /* Add a white border around the dots */
}

.color-options {
  display: flex;
  align-items: center;
}
